/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* variables */
:root {
  --background: #FFFFFF;
  --primary: #261B23;
  --secondary: #bbb;
  --red: #d23333;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: var(--primary);
}
body {
  background: var(--background);
}
#app {
  font-size: 18px;
  margin: 0;
  color:  var(--primary);
}
a {
  text-decoration: none;
}
.simple-link {
  background-color: gainsboro;
  color:  var(--primary);
}
.container {
  max-width: 1100px;
  margin: 20px auto;
  padding: 10px;
}

/* Card style */
.card-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}
@media (max-width: 640px) {
  .card-about {
    flex-direction: column;
  }
}
.highlight>span {
  background-color:var(--secondary);
  line-height:2;
}
.vertically-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  flex: 1 1 0;
}
.overview {
  margin: auto;
  flex: 2 1 0;
}
